/* Estilo para el contenedor principal del carrito */
.cart-container {
  position: fixed;
  top: 65%;
  /* Centra verticalmente */
  right: 0px;
  /* Inicialmente oculto */
  width: 450px;
  border-radius: 15px;
  height: auto;
  /* Ajusta la altura según el contenido */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  transform: translateY(-50%);
  /* Centra verticalmente */
}

.cart-open {
  right: -450px;
  /* Mostrar el carrito al hacer clic en el icono */
}

/* Estilo para el título del carrito */
.cart-container h2 {
  font-size: 1.5rem;
  margin: 20px;
  color: #333;
}

/* Resto de estilos se mantienen igual */

/* Estilo para el botón de cierre en la esquina superior derecha */
.close-button {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  outline: none;
}

/* Estilo para el botón de cierre al pasar el mouse */
.close-button:hover {
  color: #ff0000;
  /* Cambia el color al pasar el mouse */
}

/* Estilo para el contenedor principal del carrito */
.cart {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  max-width: 450px;
  margin: 0 auto;
}

/* Estilo para el título del carrito */
.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

/* Estilo para los elementos del carrito */
.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para los detalles del producto en el carrito */
.cart-item-details {
  flex: 1;
}

.cart-item-details p {
  margin: 5px 0;
}

/* Estilo para los botones de incremento y decremento */
.cart-item-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilo para el total de la compra */
.cart-total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Estilo para el mensaje cuando el carrito está vacío */
.cart-empty-message {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  /* margin: 20px; */
}

/* Estilo para el botón de finalizar compra */
.checkout-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Agrega el estilo 'cart-items' para el área del carrito con scroll */
.cart-items {
  max-height: 300px;
  /* Altura máxima antes de que aparezca el scroll */
  overflow-y: auto;
  /* Habilita el scroll vertical si el contenido supera la altura máxima */
}

/* Estilo para el botón de eliminar producto */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Estilo para el botón de vaciar carrito */
.clear-cart-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  /*margin-top: 10px;  Puedes ajustar el margen según tu preferencia */
}

/* Estilo para los botones "Vaciar Carrito" y "Finalizar Compra" */
.cart-actions {
  display: flex;
  justify-content: space-between;
  /* Coloca los botones uno al lado del otro con espacio entre ellos */
  padding-top: 10px;
}

.clear-cart-button,
.checkout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.clear-cart-button {
  background-color: #dc3545;
  /* Estilo para el botón "Vaciar Carrito" */
}

/* Ajusta la posición del botón de cerrar carrito */
.close-cart-button {
  position: fixed;
  top: 10px;
  /* Ajusta la posición vertical según tu preferencia */
  right: 0px;
  /* Ajusta la posición horizontal según tu preferencia */
  background-color: transparent;
  /* Fondo transparente */
  color: black;
  /* Color del texto del botón */
  border: none;
  /* Sin borde */
  font-size: 20px;
  /* Tamaño de fuente del botón de cerrar */
  cursor: pointer;
  /* Cursor de apuntador */
  z-index: 1500;
  /* Asegura que el botón de cerrar esté por encima del carrito */
}


@media (max-width: 490px) {
  /* Estilo para el contenedor principal del carrito */
  .cart-container {
    width: 380px;
  }

  .cart-open {
    right: -380px;
    /* Mostrar el carrito al hacer clic en el icono */
  }
}