.custom-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
  color: #fff; /* Color del texto */
  padding: 20px;  /*Espaciado interior */
  text-align: center; /* Centrar el texto */
  max-width: 100%; /* Ancho máximo del caption */
}

